.hero-section {
  background-image: linear-gradient(to right, #1c232b, #21262b);
  margin-top: 96px !important;
  padding: 12px 24px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.map {
  color: #fd4556;
  text-transform: uppercase;
  font-size: 700;
  font-size: 28px;
}

.gamemode {
  color: #fffbf59e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.lobby-container {
  padding: 2px 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 16px;
}

.player-box {
  width: 268px;
  background-image: linear-gradient(to right, #1c232b, #21262b);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  color: #fffbf540;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
}

.player-box:hover {
  background-image: linear-gradient(to right, #36373d, #36373b);
  cursor: pointer;
}

.player-box-main {
  height: 640px;
  position: relative;
}

.player-box-secondary {
  width: 241.2px;
  height: 576px;
}

.player-box-third {
  height: 512px;
  width: 214.4px;
}

.player-box div {
  border: solid 1px #fffbf540;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-box div p {
  transform: rotate(-45deg);
}

.player-box img {
  width: 100%;
  height: 100%;
}

.player-name {
  position: absolute;
  color: #fffbf5;
  bottom: 10%;
  left: 50%;
  font-size: 24px;
  transform: translateX(-50%);
  font-weight: 500;
}

.player-status {
  position: absolute;
  text-transform: uppercase;
  color: #85c3c0;
  bottom: 5%;
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%);
  font-weight: 400;
}

.btn-container {
  margin-top: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.lobby-button,
.button {
  width: 220px;
  padding: 14px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #0e1317;
  border: none;
  transition: all 0.3s;
}

.lobby-button:hover,
.button:hover {
  transform: scale(0.9);
}

.lobby-button a {
  text-decoration: none;
  color: #fffbf5;
}

.lobby-button:hover {
  background-color: #36373b;
  cursor: pointer;
}

.lobby-button-main {
  width: 240px;
  background-color: #fd4556;
  font-size: 28px;
}

.lobby-button-main:hover {
  background-color: #fd455798;
}
